<!DOCTYPE html>
<html>

<head>
    <title>Inspiring Quotes</title>

    <link rel="stylesheet" type="text/css"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css" />
</head>

<body>
    <!--contain-->
    <div class="container">
        <h1 class="text-center">Inspiring Quotes</h1>
        <div class="row destacados">
            {{#each emotions}}
                <div class="col-md-3">
                    <a href="#">
                        <img 
                            src="images{{imagePath}}" 
                            alt="{{title}}" 
                            class="img-circle img-thumbnail"
                                onclick="changeQuote('images{{quotePath}}')" />
                        <h2>{{title}}</h2>
                    </a>
                </div>
            {{/each}}
        </div>
        <div class="row text-center">
            <img class="img-thumbnail" src="images/task1/default.jpg" 
            id="quote" />
        </div>
    </div>
    <!--/contain-->
    <script>
        function changeQuote(quotePath) { 
            document.querySelector('#quote').src = 
            quotePath;
        }
    </script>
</body>

</html>